  <mat-toolbar *ngIf="isAuthenticated" color="primary" class="expanded-toolbar">

    <mat-toolbar-row>
      <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon arial-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <div fxFlex fxLayout fxLayoutAlign="flex-end">
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">

          <li>
            <button mat-button *ngIf="isAuthenticated" (click)="logout()">
              <mat-icon>logout_outline</mat-icon>
            </button>
          </li>

          <li fxHide.xs>
            <button mat-icon-button>
              <mat-icon>settings</mat-icon>
            </button>
          </li>

          <li fxHide.xs>
            <button mat-icon-button>
              <mat-icon>help_outline</mat-icon>
            </button>
          </li>

          <li>
            <button mat-icon-button>
              <mat-icon>person_outline</mat-icon>
            </button>
          </li>

        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
