<div class="pos">
  <mat-nav-list >
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="bookings" routerLinkActive="list-item-active" (click)="onSidenavClose()">
      <mat-icon color="primary">bookings</mat-icon> <span class="nav-caption">Bookings</span>
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="add-booking" (click)="onSidenavClose()">
      <mat-icon color="primary">add</mat-icon><span class="nav-caption">Add Booking</span>
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="edit-booking" (click)="onSidenavClose()">
      <mat-icon color="primary">edit</mat-icon><span class="nav-caption">Edit Booking</span>
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="clients" (click)="onSidenavClose()">
      <mat-icon color="primary">people</mat-icon><span class="nav-caption">Clients</span>
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="add-client" (click)="onSidenavClose()">
      <mat-icon color="primary">edit</mat-icon><span class="nav-caption">Register Client</span>
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="logout" (click)="onSidenavClose()">
      <mat-icon color="primary">logout</mat-icon><span class="nav-caption">Logout</span>
    </a>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>

  </mat-nav-list>

</div>
