<div class="container" fxLayout="row wrap" fxLayoutAlign="center center" class="layout-wrapper" >
  <div class="nav-sidebar" fxFlex="230px">
        <mat-nav-list>
          <a mat-button [routerLink]="'/dashboard'"> Dashboard </a>
          <a mat-button [routerLink]="'/clients'"> Clients </a>
          <a mat-button [routerLink]="'/bookings'"> Bookings </a>
          <a mat-button [routerLink]="'/logout'"> Logout </a>
        </mat-nav-list>
  </div>
  <div fxFlex fxFlex.lt-md="100%" class="flex-wrapper">
      <ng-content></ng-content>
  </div>
</div>
